<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infincash.statistics.risk.mapper.TUserMapper">
  <resultMap id="BaseResultMap" type="com.infincash.statistics.risk.table.TUser">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="tran_password" jdbcType="VARCHAR" property="tranPassword" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="credit_rule_id" jdbcType="VARCHAR" property="creditRuleId" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="score" jdbcType="DECIMAL" property="score" />
    <result column="borrowing_lines" jdbcType="DECIMAL" property="borrowingLines" />
    <result column="credit_lines" jdbcType="DECIMAL" property="creditLines" />
    <result column="source" jdbcType="CHAR" property="source" />
    <result column="user_type" jdbcType="CHAR" property="userType" />
    <result column="errror_number" jdbcType="INTEGER" property="errrorNumber" />
    <result column="tran_pwd_error_num" jdbcType="INTEGER" property="tranPwdErrorNum" />
    <result column="explains" jdbcType="VARCHAR" property="explains" />
    <result column="is_locked" jdbcType="CHAR" property="isLocked" />
    <result column="is_blacklist" jdbcType="CHAR" property="isBlacklist" />
    <result column="invite_code" jdbcType="VARCHAR" property="inviteCode" />
    <result column="register_ip" jdbcType="VARCHAR" property="registerIp" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="credit_time" jdbcType="TIMESTAMP" property="creditTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, user_name, login_name, password, tran_password, phone, credit_rule_id, 
    image_url, score, borrowing_lines, credit_lines, source, user_type, errror_number, 
    tran_pwd_error_num, explains, is_locked, is_blacklist, invite_code, register_ip, 
    register_time, last_login_ip, last_login_time, update_time, email, credit_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.infincash.statistics.risk.table.TUser">
    insert into t_user (id, user_id, user_name, 
      login_name, password, tran_password, 
      phone, credit_rule_id, image_url, 
      score, borrowing_lines, credit_lines, 
      source, user_type, errror_number, 
      tran_pwd_error_num, explains, is_locked, 
      is_blacklist, invite_code, register_ip, 
      register_time, last_login_ip, last_login_time, 
      update_time, email, credit_time
      )
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{tranPassword,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{creditRuleId,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR}, 
      #{score,jdbcType=DECIMAL}, #{borrowingLines,jdbcType=DECIMAL}, #{creditLines,jdbcType=DECIMAL}, 
      #{source,jdbcType=CHAR}, #{userType,jdbcType=CHAR}, #{errrorNumber,jdbcType=INTEGER}, 
      #{tranPwdErrorNum,jdbcType=INTEGER}, #{explains,jdbcType=VARCHAR}, #{isLocked,jdbcType=CHAR}, 
      #{isBlacklist,jdbcType=CHAR}, #{inviteCode,jdbcType=VARCHAR}, #{registerIp,jdbcType=VARCHAR}, 
      #{registerTime,jdbcType=TIMESTAMP}, #{lastLoginIp,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{email,jdbcType=VARCHAR}, #{creditTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.infincash.statistics.risk.table.TUser">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="tranPassword != null">
        tran_password,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="creditRuleId != null">
        credit_rule_id,
      </if>
      <if test="imageUrl != null">
        image_url,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="borrowingLines != null">
        borrowing_lines,
      </if>
      <if test="creditLines != null">
        credit_lines,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="errrorNumber != null">
        errror_number,
      </if>
      <if test="tranPwdErrorNum != null">
        tran_pwd_error_num,
      </if>
      <if test="explains != null">
        explains,
      </if>
      <if test="isLocked != null">
        is_locked,
      </if>
      <if test="isBlacklist != null">
        is_blacklist,
      </if>
      <if test="inviteCode != null">
        invite_code,
      </if>
      <if test="registerIp != null">
        register_ip,
      </if>
      <if test="registerTime != null">
        register_time,
      </if>
      <if test="lastLoginIp != null">
        last_login_ip,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="creditTime != null">
        credit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="tranPassword != null">
        #{tranPassword,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="creditRuleId != null">
        #{creditRuleId,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="borrowingLines != null">
        #{borrowingLines,jdbcType=DECIMAL},
      </if>
      <if test="creditLines != null">
        #{creditLines,jdbcType=DECIMAL},
      </if>
      <if test="source != null">
        #{source,jdbcType=CHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=CHAR},
      </if>
      <if test="errrorNumber != null">
        #{errrorNumber,jdbcType=INTEGER},
      </if>
      <if test="tranPwdErrorNum != null">
        #{tranPwdErrorNum,jdbcType=INTEGER},
      </if>
      <if test="explains != null">
        #{explains,jdbcType=VARCHAR},
      </if>
      <if test="isLocked != null">
        #{isLocked,jdbcType=CHAR},
      </if>
      <if test="isBlacklist != null">
        #{isBlacklist,jdbcType=CHAR},
      </if>
      <if test="inviteCode != null">
        #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="registerIp != null">
        #{registerIp,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null">
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null">
        #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="creditTime != null">
        #{creditTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.infincash.statistics.risk.table.TUser">
    update t_user
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="tranPassword != null">
        tran_password = #{tranPassword,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="creditRuleId != null">
        credit_rule_id = #{creditRuleId,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=DECIMAL},
      </if>
      <if test="borrowingLines != null">
        borrowing_lines = #{borrowingLines,jdbcType=DECIMAL},
      </if>
      <if test="creditLines != null">
        credit_lines = #{creditLines,jdbcType=DECIMAL},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=CHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=CHAR},
      </if>
      <if test="errrorNumber != null">
        errror_number = #{errrorNumber,jdbcType=INTEGER},
      </if>
      <if test="tranPwdErrorNum != null">
        tran_pwd_error_num = #{tranPwdErrorNum,jdbcType=INTEGER},
      </if>
      <if test="explains != null">
        explains = #{explains,jdbcType=VARCHAR},
      </if>
      <if test="isLocked != null">
        is_locked = #{isLocked,jdbcType=CHAR},
      </if>
      <if test="isBlacklist != null">
        is_blacklist = #{isBlacklist,jdbcType=CHAR},
      </if>
      <if test="inviteCode != null">
        invite_code = #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="registerIp != null">
        register_ip = #{registerIp,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null">
        register_time = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null">
        last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="creditTime != null">
        credit_time = #{creditTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.infincash.statistics.risk.table.TUser">
    update t_user
    set user_id = #{userId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      tran_password = #{tranPassword,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      credit_rule_id = #{creditRuleId,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      score = #{score,jdbcType=DECIMAL},
      borrowing_lines = #{borrowingLines,jdbcType=DECIMAL},
      credit_lines = #{creditLines,jdbcType=DECIMAL},
      source = #{source,jdbcType=CHAR},
      user_type = #{userType,jdbcType=CHAR},
      errror_number = #{errrorNumber,jdbcType=INTEGER},
      tran_pwd_error_num = #{tranPwdErrorNum,jdbcType=INTEGER},
      explains = #{explains,jdbcType=VARCHAR},
      is_locked = #{isLocked,jdbcType=CHAR},
      is_blacklist = #{isBlacklist,jdbcType=CHAR},
      invite_code = #{inviteCode,jdbcType=VARCHAR},
      register_ip = #{registerIp,jdbcType=VARCHAR},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      email = #{email,jdbcType=VARCHAR},
      credit_time = #{creditTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.infincash.statistics.risk.table.TUser">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="tran_password" jdbcType="VARCHAR" property="tranPassword" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="credit_rule_id" jdbcType="VARCHAR" property="creditRuleId" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="score" jdbcType="DECIMAL" property="score" />
    <result column="borrowing_lines" jdbcType="DECIMAL" property="borrowingLines" />
    <result column="credit_lines" jdbcType="DECIMAL" property="creditLines" />
    <result column="source" jdbcType="CHAR" property="source" />
    <result column="user_type" jdbcType="CHAR" property="userType" />
    <result column="errror_number" jdbcType="INTEGER" property="errrorNumber" />
    <result column="tran_pwd_error_num" jdbcType="INTEGER" property="tranPwdErrorNum" />
    <result column="explains" jdbcType="VARCHAR" property="explains" />
    <result column="is_locked" jdbcType="CHAR" property="isLocked" />
    <result column="is_blacklist" jdbcType="CHAR" property="isBlacklist" />
    <result column="invite_code" jdbcType="VARCHAR" property="inviteCode" />
    <result column="register_ip" jdbcType="VARCHAR" property="registerIp" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="credit_time" jdbcType="TIMESTAMP" property="creditTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, user_name, login_name, password, tran_password, phone, credit_rule_id, 
    image_url, score, borrowing_lines, credit_lines, source, user_type, errror_number, 
    tran_pwd_error_num, explains, is_locked, is_blacklist, invite_code, register_ip, 
    register_time, last_login_ip, last_login_time, update_time, email, credit_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.infincash.statistics.risk.table.TUser">
    insert into t_user (id, user_id, user_name, 
      login_name, password, tran_password, 
      phone, credit_rule_id, image_url, 
      score, borrowing_lines, credit_lines, 
      source, user_type, errror_number, 
      tran_pwd_error_num, explains, is_locked, 
      is_blacklist, invite_code, register_ip, 
      register_time, last_login_ip, last_login_time, 
      update_time, email, credit_time
      )
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{tranPassword,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{creditRuleId,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR}, 
      #{score,jdbcType=DECIMAL}, #{borrowingLines,jdbcType=DECIMAL}, #{creditLines,jdbcType=DECIMAL}, 
      #{source,jdbcType=CHAR}, #{userType,jdbcType=CHAR}, #{errrorNumber,jdbcType=INTEGER}, 
      #{tranPwdErrorNum,jdbcType=INTEGER}, #{explains,jdbcType=VARCHAR}, #{isLocked,jdbcType=CHAR}, 
      #{isBlacklist,jdbcType=CHAR}, #{inviteCode,jdbcType=VARCHAR}, #{registerIp,jdbcType=VARCHAR}, 
      #{registerTime,jdbcType=TIMESTAMP}, #{lastLoginIp,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{email,jdbcType=VARCHAR}, #{creditTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.infincash.statistics.risk.table.TUser">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="tranPassword != null">
        tran_password,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="creditRuleId != null">
        credit_rule_id,
      </if>
      <if test="imageUrl != null">
        image_url,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="borrowingLines != null">
        borrowing_lines,
      </if>
      <if test="creditLines != null">
        credit_lines,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="errrorNumber != null">
        errror_number,
      </if>
      <if test="tranPwdErrorNum != null">
        tran_pwd_error_num,
      </if>
      <if test="explains != null">
        explains,
      </if>
      <if test="isLocked != null">
        is_locked,
      </if>
      <if test="isBlacklist != null">
        is_blacklist,
      </if>
      <if test="inviteCode != null">
        invite_code,
      </if>
      <if test="registerIp != null">
        register_ip,
      </if>
      <if test="registerTime != null">
        register_time,
      </if>
      <if test="lastLoginIp != null">
        last_login_ip,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="creditTime != null">
        credit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="tranPassword != null">
        #{tranPassword,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="creditRuleId != null">
        #{creditRuleId,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="borrowingLines != null">
        #{borrowingLines,jdbcType=DECIMAL},
      </if>
      <if test="creditLines != null">
        #{creditLines,jdbcType=DECIMAL},
      </if>
      <if test="source != null">
        #{source,jdbcType=CHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=CHAR},
      </if>
      <if test="errrorNumber != null">
        #{errrorNumber,jdbcType=INTEGER},
      </if>
      <if test="tranPwdErrorNum != null">
        #{tranPwdErrorNum,jdbcType=INTEGER},
      </if>
      <if test="explains != null">
        #{explains,jdbcType=VARCHAR},
      </if>
      <if test="isLocked != null">
        #{isLocked,jdbcType=CHAR},
      </if>
      <if test="isBlacklist != null">
        #{isBlacklist,jdbcType=CHAR},
      </if>
      <if test="inviteCode != null">
        #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="registerIp != null">
        #{registerIp,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null">
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null">
        #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="creditTime != null">
        #{creditTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.infincash.statistics.risk.table.TUser">
    update t_user
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="tranPassword != null">
        tran_password = #{tranPassword,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="creditRuleId != null">
        credit_rule_id = #{creditRuleId,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=DECIMAL},
      </if>
      <if test="borrowingLines != null">
        borrowing_lines = #{borrowingLines,jdbcType=DECIMAL},
      </if>
      <if test="creditLines != null">
        credit_lines = #{creditLines,jdbcType=DECIMAL},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=CHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=CHAR},
      </if>
      <if test="errrorNumber != null">
        errror_number = #{errrorNumber,jdbcType=INTEGER},
      </if>
      <if test="tranPwdErrorNum != null">
        tran_pwd_error_num = #{tranPwdErrorNum,jdbcType=INTEGER},
      </if>
      <if test="explains != null">
        explains = #{explains,jdbcType=VARCHAR},
      </if>
      <if test="isLocked != null">
        is_locked = #{isLocked,jdbcType=CHAR},
      </if>
      <if test="isBlacklist != null">
        is_blacklist = #{isBlacklist,jdbcType=CHAR},
      </if>
      <if test="inviteCode != null">
        invite_code = #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="registerIp != null">
        register_ip = #{registerIp,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null">
        register_time = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null">
        last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="creditTime != null">
        credit_time = #{creditTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.infincash.statistics.risk.table.TUser">
    update t_user
    set user_id = #{userId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      tran_password = #{tranPassword,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      credit_rule_id = #{creditRuleId,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      score = #{score,jdbcType=DECIMAL},
      borrowing_lines = #{borrowingLines,jdbcType=DECIMAL},
      credit_lines = #{creditLines,jdbcType=DECIMAL},
      source = #{source,jdbcType=CHAR},
      user_type = #{userType,jdbcType=CHAR},
      errror_number = #{errrorNumber,jdbcType=INTEGER},
      tran_pwd_error_num = #{tranPwdErrorNum,jdbcType=INTEGER},
      explains = #{explains,jdbcType=VARCHAR},
      is_locked = #{isLocked,jdbcType=CHAR},
      is_blacklist = #{isBlacklist,jdbcType=CHAR},
      invite_code = #{inviteCode,jdbcType=VARCHAR},
      register_ip = #{registerIp,jdbcType=VARCHAR},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      email = #{email,jdbcType=VARCHAR},
      credit_time = #{creditTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>