<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infincash.cron.collection.mapper.TBizCollectionOverdueBucketMapper">
  <resultMap id="t_biz_collection_overdue_bucketMap" type="com.infincash.cron.collection.table.TBizCollectionOverdueBucket">
    <id column="id" jdbcType="SMALLINT" property="id" />
    <result column="interval_id" jdbcType="SMALLINT" property="intervalId" />
    <result column="left_closed_interval" jdbcType="SMALLINT" property="leftClosedInterval" />
    <result column="t_system_role_id" jdbcType="VARCHAR" property="tSystemRoleId" />
  </resultMap>
  
  <select id="queryAll" resultMap="t_biz_collection_overdue_bucketMap">
    select 
    id, interval_id, left_closed_interval, t_system_role_id
    from t_biz_collection_overdue_bucket
  </select>
</mapper>